.main__title {
  font-family: RobotoMedium;
  font-size: 72px;
}

.small__text {
  font-family: RobotoBold;
  font-size: 18px;
}

.main__text {
  font-family: OpenSansBold;
  font-size: 22px;
}

.second__title {
  font-family: RobotoBold;
  font-size: 28px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

html {
  background: #121212;
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSansCondensed-Bold.ttf);
}

@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSansCondensed-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

.header {
  background: #121212;
}

.header__nav--item {
  text-decoration: none;
  color: #efefef;
  margin-right: 50px;
}

.header__nav--item::last-child {
  margin-right: 0;
}

.header__nav--item:hover {
  color: #a1a100;
}

.header__logo {
  width: 70px;
  height: 80px;
  cursor: pointer;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__choice {
  background: #000;
}

.main {
  background: url("../img/main-bg.jpg") no-repeat center/cover;
  padding-bottom: 400px;
}

.main--title {
  padding-top: 75px;
  margin-bottom: 70px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main--text {
  max-width: 750px;
  width: 100%;
  color: #000;
  text-align: center;
  margin: auto;
}

.main__title--block {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info__title {
  max-width: 450px;
  color: #efefef;
  margin-left: -20px;
  margin-top: 120px;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info__img {
  max-width: 750px;
}

.info__list--item {
  margin-top: 25px;
  color: #efefef;
  max-width: 450px;
}

.info__list--item:first-child {
  margin-top: 50px;
}

.rewiew {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #121212;
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), color-stop(50%, #282828), to(#121212));
  background: linear-gradient(180deg, #121212 0%, #282828 50%, #121212 100%);
}

.rewiew__title {
  text-align: center;
  margin-bottom: 75px;
  color: #efefef;
}

.rewiew__block--title {
  text-align: center;
  margin-bottom: 25px;
  color: #efefef;
}

.rewiew__block--text {
  text-align: center;
  color: rgba(155, 155, 155, 0.7);
}

.rewiew__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rewiew__blocks--item {
  max-width: 450px;
  width: 100%;
  background: none;
  border: 1px solid rgba(155, 155, 155, 0.7);
  border-radius: 15px;
  padding: 15px 30px;
  margin-right: 25px;
}

.rewiew__blocks--item:last-child {
  margin-right: 0;
}

.find {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  background: #121212;
}

.find__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 350px;
}

.find__block {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find__label {
  margin-bottom: 5px;
  margin-top: 15px;
  color: rgba(155, 155, 155, 0.7);
}

.find__label:first-child {
  margin-top: 0;
}

.find__input {
  padding: 5px 15px;
  border: none;
  background: #ababab;
  border-radius: 5px;
}

.find__button {
  margin: auto;
  padding: 5px 45px;
  width: 150px;
  margin-top: 25px;
  border: none;
  background: #efefef;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.find__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.find__img {
  width: 600px;
  border: 5px solid rgba(155, 155, 155, 0.7);
  border-radius: 15px;
}

.promotion {
  margin-bottom: 100px;
}

.promotion__block--title {
  color: #efefef;
  list-style-type: none;
  margin-top: 25px;
}

.promotion__block--text {
  color: rgba(155, 155, 155, 0.7);
  margin-top: 10px;
}

.promotion__title {
  color: #efefef;
  text-align: center;
  margin-bottom: 75px;
}

.promotion__text {
  color: #a1a100;
  max-width: 510px;
}

.promotion__block1 {
  max-width: 450px;
}

.promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion__img1 {
  max-height: 450px;
  border-radius: 15px;
  border: 5px solid rgba(155, 155, 155, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion__button {
  padding: 5px 15px;
}

.subscribe {
  margin-bottom: 100px;
  background: #121212;
  background: -webkit-gradient(linear, left top, left bottom, from(#121212), color-stop(50%, #282828), to(#121212));
  background: linear-gradient(180deg, #121212 0%, #282828 50%, #121212 100%);
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__form {
  margin-left: 150px;
  margin: auto;
}

.subscribe__label {
  margin-right: 35px;
  color: #efefef;
}

.subscribe__input {
  padding: 5px 15px;
  border: none;
  border-radius: 15px;
  background: #ababab;
}

.subscribe__button {
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  margin-left: 35px;
  cursor: pointer;
}

.subscribe__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  background: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav--item {
  text-decoration: none;
  color: #efefef;
  margin-right: 55px;
}

.footer__nav--item:hover {
  color: #a1a100;
}

.footer__number {
  color: rgba(155, 155, 155, 0.7);
}

.choice__title {
  color: #efefef;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.choice__secondTitle {
  color: #efefef;
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
}

.choice__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choice__info--text {
  margin-left: 50px;
  color: #efefef;
  margin-top: 75px;
}

.choice__info--text:last-child {
  margin-top: 25px;
}

.choice__text {
  margin-bottom: 25px;
}

.choice__text--price {
  color: #a1a100;
  margin-bottom: 50px;
}

.choice__content {
  margin-bottom: 200px;
}

.choice__button {
  margin: auto;
  padding: 5px 45px;
  width: 150px;
  margin-top: 50px;
  border: none;
  background: #efefef;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.choice__button:hover {
  background: #a1a100;
}

.choiceHouse__block {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choiceHouse__button {
  padding: 5px 15px;
  background: #efefef;
  color: #000;
  border: none;
  border-radius: 15px;
  max-width: 250px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.choiceHouse__button:hover {
  background: #a1a100;
}

.choiceHouse__title {
  text-align: center;
  color: #efefef;
  margin-bottom: 50px;
  margin-top: 50px;
}

.booking__block {
  z-index: 999;
}

.booking__title {
  font-size: 48px;
  text-align: center;
  color: #efefef;
  padding-top: 50px;
  margin-bottom: 100px;
}

.booking__label1 {
  color: #efefef;
  margin-right: 15px;
}

.booking__input1 {
  padding: 7px 10px;
  background: #ababab;
  border: none;
  border-radius: 5px;
}

.booking__input2 {
  padding: 7px 34px;
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__form--button {
  padding: 5px 15px;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  background: green;
  cursor: pointer;
}

.booking__form--button:last-child {
  margin-right: 0;
  background: red;
}

.booking__form--button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.booking__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
}

.booking__buy--title {
  margin-right: 250px;
  color: #efefef;
}

.booking__button {
  background: #ababab;
  padding: 10px 25px;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.booking__button:hover {
  background: #a1a100;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.form__title {
  margin-bottom: 45px;
  color: #efefef;
  font-weight: bold;
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */