@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto-Medium.ttf);
}