.subscribe
    margin-bottom: 100px
     background: rgb(18,18,18)
    background: linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(40,40,40,1) 50%, rgba(18,18,18,1) 100%)
    &__content
        display: flex
        justify-content: space-between
    &__form
        margin-left: 150px
        margin: auto
    &__label
        margin-right: 35px
        color: $white
    &__input
        padding: 5px 15px
        border: none
        border-radius: 15px
        background: $lightgrey
    &__button
        padding: 5px 15px
        font-size: 16px
        border: none
        border-radius: 15px
        margin-left: 35px
        cursor: pointer
        &:hover
             transform: scale(1.05)